html {
  width: 90%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fffffc;
  color:  rgb(15, 10, 53);
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  line-height: 110%;
  width: 100%;
  height: 100%;
}

ol li {
  margin-top: 0.5em;
}

ul li {
  margin-top: 0.5em;
}

header {
  color: darkslateblue;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

}

footer {
  text-align: center;
  padding: 10px;
  margin: 10px;
  font-size: x-small;
  line-height: 100%;
}

img {
  width: auto;
  min-width: 50%;
  border: solid;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;

}

a {
  text-decoration-color: darkblue;
  text-decoration: underline;

}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
}
  
h2,h3,h4 {
  margin-top: 40px;
  margin-bottom: 10px;
 
}

h1,h2,h3{
  font-weight: bold;
}

h4 {
  font-style: italic;
}

h5{
  text-align: center;
  text-decoration: underline;
}