body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: darkslateblue;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }
    html {
    height: 100%
  }

  header {
    color: darkslateblue;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

 

  footer {
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 10%;
  }

  button {
    font-size: large;
    color: darkslateblue;

  }
